@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <p class="site-title">
        <h1>Welcome to our shop!</h1>
        <img src="~/Photos/banner.png" alt="banner" height="400" width="800" />
    </p>

    <p class="lead">NASVIL is the oldest and most dedicated Vinyl Shop in the center of Athens!</p>
</div>
<section class="portfolio">
    <img src="~/Photos/store1.jpg" alt="" width="200px" height="200px">
    <img src="~/Photos/store2.jpg" alt="" width="200px" height="200px">
    <img src="~/Photos/store3.jpg" alt="" width="200px" height="200px">
    <img src="~/Photos/store4.jpg" alt="" width="200px" height="200px">
    <img src="~/Photos/store5.jpg" alt="" width="200px" height="200px">
</section>
<div class="row">
    <div class="col-md-4">
        <h2>What We Do</h2>
        <p>
            Our passion is the true analog sound, so we offer the biggest possible collection of Vinyls from all genres of Music!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Where We Are</h2>
        <p>
            We are located in the center of Athens, at...
        </p>
    </div>
    <div class="col-md-4">
        <h2>How to Buy</h2>
        <p>
            You can order online or come here and browse our collection in our Store!
        </p>
    </div>
</div>